.skills__div-img {
    height: 2.3rem;
    max-width: 2rem;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
@media screen and (min-width: 1024px) {
    .skills__div-img {
        margin-bottom: 0.7rem;
    }
}
