.head__sectionsup {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem
}
.head__sectionsup-container1 {
    display: flex;
    align-items: center;
}
.head__sectionsup-container1-img {
    max-width: 2rem;
    max-height: 2.5rem;
    margin-right: 0.4rem;
}
.head__sectionsup_nombre {
    color: var(--petro--100);
    font-size: 1.175rem;
    font-family: var(--raleway);
    font-weight: 700;
}
.head__sectionsup-container2-email {
    color: var(--petro--100);
    font-family: var(--raleway);
    font-size: 0.875rem;

}
.head__sectionsup-container2-barra-navegacion {
    display: none;
}
@media screen and (min-width: 768px) {
    .head__sectionsup {
        padding: 1rem 1.5rem;
    }    
}
@media screen and (min-width: 1024px) {
    .head__sectionsup {
        padding: 1rem 3.8rem;
    }
    .head__sectionsup-container2 {
        display: flex;
    }
    .head__sectionsup-container2-barra-navegacion {
        display: flex;
    }
    .head__sectionsup-container2-barra-item {
        margin-right: 2rem;
        text-decoration: none;
        font-size: 0.875rem;
        font-family: var(--raleway);
        color: var(--petro--100);
        font-weight: 600
    }
}