.formulario__form-entrada {
    width: 95%;
    height: 3.5rem;
    font-size:1rem;
    font-weight: 650;
    color: var(--petro--100);
    font-family: var(--raleway);
    vertical-align: top;
    padding-left: 0.7rem;
    margin-bottom: 0.7rem;
}
.formulario__form-entrada::placeholder {
    font-size:1rem;
    font-weight: 650;
    color: var(--petro--100);
    font-family: var(--raleway);
    /* vertical-align: text-top; */
}
.msj {
    height: 7rem;
}