.sobremi__parrafo {
    color: var(--petro--100);
    font-family: var(--raleway);
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .sobremi__parrafo {
        font-size: 1rem;
    }
}