body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}
:root {
    /* - Fuente color  */
    --petro--100: #464646;
    
    /* FUENTE FAMILIA */
    --raleway: 'Raleway', sans-serif;

    /* BACKGROUNDS*/
    --header--bkg: #FFF8DE;
    --sobremi--bkg: #D6E8DB;
    --skills--bkg: #C1D0B5;
    --skills_div--bkg: #FFFFFF;
    --footer--bkg: #99A98F;
} 