.formacion__div-img {
    align-self: center;
    height: 6em;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin: 1.5rem 0;
}
@media screen and (min-width: 1024px) {
    .formacion__div-img {
        height: 8em;
    }
}