.formacion__div {
    width: 100%;
    height: auto;
    background-color: var(--header--bkg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .formacion__div {
        width: 40%;
    }
}